<%= simple_form_for @photo, html: { multipart: true } do |f| %>
  <div class="image-info">
    <label>Image</label>
    <%= f.file_field :image %>
  </div>

  <div class="image-info">
    <%= f.input :caption %>
  </div>

  <%= f.button :submit %>
<% end %>
