<div class="image">
  <%= image_tag photo.image_url, class: 'resize-image-to-card' %>

  <div class="padding-10px">
    <p>Item: My item</p>
    Owner: <%= link_to photo.user.email, photos_path(wardrobe: photo.user.id) %>
  </div>
</div>
