.resize-image-to-card {
  width: 300px;
  border-bottom: 1px solid black;
}

.main {
  flex-wrap: wrap;
}

.image {
  border: 1px solid black;
  margin: 20px;
}

.image-info {
  padding: 10px;
}

textarea {
  outline: none;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

#new_photo {
  width: 50%;
}
