.resize-image-to-card {
  width: 300px;
  border-bottom: 1px solid black;
}

.main {
  flex-wrap: wrap;
  //width: 90%;
}

.image {
  border: 1px solid black;
  margin: 20px;
}

.image-info {
  padding: 10px;
}
